@model PacchettoViaggio


<div class="container">

    <div class="d-flex align-items-center">
        <h1 class="text-center mb-4">Your're Creating a Package</h1>
    </div>

    <form asp-controller="Package" asp-action="Create" method="post">
        @Html.AntiForgeryToken()

        <div class="mb-4">
            
            <input placeholder="Title" asp-for="Title" />
            <span asp-validation-for="Title"></span>

        </div>

        <div class="mb-4">
            
            <input placeholder="Description" asp-for="Description" />
            <span asp-validation-for="Description"></span>

        </div>

        <div class="mb-4">
            
            <input placeholder="Image"  asp-for="Image" />
            <span asp-validation-for="Image"></span>

        </div>

        <div class="mb-4">
            
            <input placeholder="Price"  asp-for="Price" />
            <span asp-validation-for="Price"></span>

        </div>

        <div>
            <input class="btn submit-button" type="submit" value="Save" />
        </div>
    </form>
</div>