@{
    ViewData["Title"] = "Home Page";
}

<div class="home-container d-flex flex-column align-items-center">
    <h1 class="my-2">Check Out our Travel Packages!</h1>
    <div class="search-div d-flex align-items-center">
        <input class="m-xl-3 my-2" type="text" placeholder="Search by Title" id="search-input" row="10" />
        <button class="m-xl-3" id="search-button">Search</button>
    </div>

    <div class="package-container d-flex flex-wrap justify-content-center align-items-center"></div>
</div>


@model PacchettoViaggio 

<script type="text/javascript">

    getPackages("");

    document.querySelector('#search-button').addEventListener('click', SearchPackage);

    function SearchPackage() {
        let title = document.querySelector('#search-input').value;
        getPackages(title);
    }

    function getPackages(title) {
        axios.get('/api/package/get', {

            params: {
                title: title
            }
            
        }).then(res => {
            console.log(res);
            if (res.data.length != 0) {
                document.querySelector('.package-container').innerHTML =''
                res.data.forEach(package => {
                    document.querySelector('.package-container').innerHTML +=
                        `
                        <div class="package-card d-flex flex-column align-items-center">
                            <div>
                                    <image class="package-img" src="${package.image}"></image>
                            </div>

                            <div class="d-flex flex-column justify-content-center align-items-center mx-4">
                                    <div class="my-3"><h4>${package.title}</h4></div>
                                <div class="my-2">${package.description}</div>
                                <div class="my-2">${package.price} $</div>
                            </div>
                     </div>
                        `;
                });
            }
        }).catch(err => {
        });
        console.log("errore");
    }

</script>

