html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f5f5f5;
    font-family: "Inter", sans-serif;
    
}

button, .submit-button {
    background-color: #e6ecff;
    color: #3363ff;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 60px;
}

.package-card  button {
    width: 90px;
    height: 50px;
}

.package-card:hover {
    transform: translateY(-.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, .2);
}

.package-card {
    margin: 20px;
    width: 350px;
    height: 500px;
    padding: 0;
    background-color: white;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
}

.package-img {
    width: 100%;
    margin-top: 0;
}

.package-container {
    margin: 30px;
}

input {
    background-color: #e6ecff;
    border: none;
    border-radius: 10px;
    width: 500px;
    height: 50px;
}

.navbar {
    background-color: #e6ecff;
}

.nav-item a {
    color: #3363ff;
}

#explore-button {
    width: 250px;
    height: 60px;
    margin-top:20px;
}

